// BASE
body {
  background-color: transparent;
  margin: 16px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: normal;
}

#app {
  width: 100%;
  height: 100%;
}

// GRID
.grid-container-x {
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1rem;

  @media (min-width: 320px) 
  and (max-width: 414px) {
    gap: .75rem;
  }
}

.grid-container-y {
  @extend .grid-container-x;
  display: grid;

  @media (min-width: 320px) 
  and (max-width: 414px) {
    gap: .75rem;
  }
}

// TYPOGRAPHY
h1 {
  font-size: 1.75em;
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
  font-weight: 500;
}
h3 {
  font-size: 1.375em;
  font-weight: normal;
}
h4 {
  font-size: 1.3125em;
  font-weight: normal;
}
a {
  color: #f8ffc6;
  transition: color ease-in-out .1s;
  &:hover {
    color: #e1ff00;
  }
  &:not(:hover):visited {
    color: #f8ffc6;
  }
  &:active {
    color: #e9dd99;
  }

}
p {
  font-size: 1em;
  font-weight: normal;
}
span {
  font-size: 1em;
  font-weight: 400;
}
.icon {
  width: 100%;
  max-width: .875rem;
  cursor: pointer;
  color: #f8ffc6;
  transition: color ease-in-out .1s;
  &:hover {
    color: #e1ff00;
  }
  &:active {
    color: #e9dd99;
  }
}

// typography overrides
*.subtitle {
  font-size: .75em;
}
*.caption {
  font-size: .5em;
}
